/* tab-land 1200/16 = 75em */

@media (max-width: 75em) {
  html {
    /* 1rem = 9px ,9/16*100 = 56.25% */
    font-size: 56.25%;
  }
}
/* tab-port 900/16= 56.25em */
@media (max-width: 56.25em) {
  html {
    /* 1rem = 8px, 8/16px*100 = 50% */
    font-size: 50%;
  }
}

/* phones 600/16 = 37.5em */
@media (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
  .memebers-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
