/* tab-land 1200/16 = 75em */

@media (max-width: 75em) {
  html {
    /* 1rem = 9px ,9/16*100 = 56.25% */
    font-size: 56.25%;
  }
  .service-container {
    grid-template-columns: 1fr 1fr;
  }
  section {
    max-width: 98rem;
  }

  .memebers-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero_text {
    width: 100%;
    text-align: center;
  }

  .hero_img img {
    width: 100%;
    height: auto;
  }
}
/* tab-port 900/16= 56.25em */
@media (max-width: 56.25em) {
  html {
    /* 1rem = 8px, 8/16px*100 = 50% */
    font-size: 50%;
  }
  section {
    max-width: 77rem;
  }

  .hero {
    flex-direction: column;
  }
  .footer_container {
    flex-wrap: wrap;
    gap: 1.3rem;
  }
  .hero_img img {
    width: 40rem;
    height: 32rem;
  }
  nav .logo {
    width: 12rem;
  }
  .memebers-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .members-elments {
    max-width: 30rem;
  }
}

/* phones 600/16 = 37.5em */
@media (max-width: 37.5em) {
  html {
    /* 1rem = 7px, 7/16px*100 = 50% */
    font-size: 43.75%;
  }
  section {
    max-width: 55rem;
  }
  nav ul .contact {
    font-size: 0.9rem;
  }
  .hero {
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .hero_img img {
    display: none;
  }
  .memebers-container {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .members-elments {
    max-width: 32rem;
  }

  .contact_container {
    flex-direction: column;
  }

  .hero_text h1 {
    font-size: 2.4rem;
  }

  .hero_text p {
    font-size: 1.8rem;
  }

  .btn {
    padding: 1rem 1.5rem;
  }
  .hero_text h1 {
    font-size: 3.4rem;
  }
  .hero_text p {
    font-size: 2.3rem;
  }
}
/* phones 400/16 = 25.em */

@media (max-width: 25em) {
  html {
    /* 1rem = 6px, 6/16px*100 = 50% */
    font-size: 37.5%;
  }
  section {
    max-width: 48rem;
  }
  .testimonials_sections {
    display: none;
    visibility: hidden;
  }
  .contact_form {
    width: 100%;
  }
}
