* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-black: rgb(52, 52, 56);
  --color-white: #f3eeee;
  --color-red: rgba(255, 0, 0, 0.815);
  --color-green: rgba(50, 171, 82, 0.808);
  --color-white-background: rgba(52, 52, 56, 0.856);
  --color-white-grey: #e9ecef;
  --color-black-grey: #495057;
}

.darkTheme {
  --color-white-grey: #495057;
  --color-black-grey: #e9ecef;
  --color-black: #f3eeee;
  --color-white: rgb(52, 52, 56);
  --color-white-background: rgba(233, 245, 236, 0.863);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  width: 100vw;
}
.home {
  background-image: linear-gradient(
      to right,
      var(--color-white-background),
      rgba(255, 0, 0, 0.733)
    ),
    url(img/hero.jpg);
  width: 100vw;
  overflow: hidden;

  background-size: cover;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}
nav {
  display: flex;
  width: 100%;

  padding: 2rem 1rem 0 1rem;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
  list-style: none;
}
nav ul li a {
  list-style: none;
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}

nav ul li:hover {
  border-bottom: 0.3rem solid var(--color-white);
  opacity: 0.8;
}
nav ul .contact {
  background-color: dodgerblue;
  padding: 0.4rem 0.3rem;
  border-radius: 0.3rem;
}
nav .sun {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  margin-right: 1rem;
}
nav .logo {
  width: 15rem;
  height: auto;
  object-fit: contain;
}
.hero {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.hero_text {
  width: 60rem;
  padding: 1.2rem 2rem;
}
.hero_text h1 {
  font-size: 3.4rem;
  animation: updown ease-in 3s;
  margin-top: 0.3rem;
  width: fit-content;
  text-wrap: wrap;
}
.hero_text p {
  font-size: 2.3rem;
  animation: updown ease-in 3s;
  margin-top: 1rem;
}
.btn {
  background-color: dodgerblue;
  color: var(--color-white);
  padding: 1.2rem 2rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  animation: downUp ease-in-out 3s;
  transition: all 0.6s;
  margin-top: 0.6rem;
}
.btn:hover {
  background-color: rgba(13, 120, 226, 0.795);
}
.hero_img img {
  margin-top: 3rem;
  border-radius: 1rem;
  width: 60rem;
  height: 40rem;
  animation: fromLeft 3s ease-in-out;
  background: none;
  mix-blend-mode: screen;
  color: transparent;
  filter: brightness(1.4);
}

@keyframes updown {
  0% {
    opacity: 0;
    transform: translateY(-20rem);
  }
  80% {
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes downUp {
  0% {
    opacity: 0;
    transform: translateY(40rem);
  }
  80% {
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  80% {
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fa-thin {
  font-size: 9rem;
}
/* this code will use all section elementents */
section {
  max-width: 130rem;
  margin: 6rem auto;
  padding: 3rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.753);
  /* text-align: center; */
  border-radius: 0.5rem;
  overflow: hidden;
}
.text-container {
  text-align: center;
  margin-bottom: 1.6rem;
}
/* service section */

.text {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.9rem;
  text-transform: uppercase;
}

/* members section */
.members {
  background-color: var(--color-white-grey);
  color: var(--color-black);
}
.memebers-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 2rem;
}
.members-elments {
  max-width: 25rem;
  border-radius: 1.1rem;
  box-shadow: 0 0 1rem;
  box-shadow: 0 0 1rem var(--color-black-grey);
  overflow: hidden;

  margin: 0 auto;
}

.members-elments img {
  width: 100%;
  height: 20rem;
  object-fit: fill;
  transition: all 1s ease-in-out;
}
.members-elments img:hover {
  transform: scale(1.2);
}
.members-elments h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.2rem;
  text-align: start;
}
.members-elments h5 {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: start;
  letter-spacing: 1px;
  /* text-decoration: line-through; */
  margin: 0.2rem;
}
.members-elments p {
  text-align: start;
  font-size: 1.2rem;
  margin: 0.3rem;
}
.members-elments button {
  margin: 1rem;
}
.icons {
  display: flex;
  align-items: center;
  margin-bottom: 1.1rem;
  margin-top: 1.1rem;
  gap: 0.8rem;
}
.icons .icon {
  font-size: 2.2rem;
  background-color: rgba(30, 143, 255, 0.61);
  padding: 0.8rem;
  border-radius: 50%;
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.icons .icon:hover {
  outline: 1px solid red;
  transform: scale(1.2);
  color: var(--color-black);
  padding: 0.8rem;
}

/* Contact us */
.contact_container {
  display: flex;

  justify-content: space-between;
  gap: 2rem;
  max-width: 100rem;
  margin: 0.2rem auto;
}
.contact_us {
  background-image: linear-gradient(
      105deg,
      #333333e7 0%,
      #333333e3 60%,
      transparent 80%
    ),
    url(img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact_us #textwhite {
  color: #fff;
}

.contact_form {
  width: 50rem;
}

.contact_form form {
  display: flex;

  row-gap: 1rem;
  flex-direction: column;
}
.contact_form form h3 {
  font-size: 2.1rem;
}
.contact_form form input,
.contact_form form button {
  padding: 1.2rem 2rem;
  border-radius: 0.7rem;
  outline: none;
  border: none;
}
.contact_form form textarea {
  padding: 4.2rem 2rem;
  border-radius: 0.7rem;
  outline: none;
}
.address h3 {
  font-size: 2.1rem;
  margin-bottom: 1.3rem;
}
.address_info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.address_info p {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 0.4rem;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.4rem;
  border-radius: 0.4rem;
}
.address_info p span {
  display: flex;
  align-items: center;
  background-color: dodgerblue;
  padding: 0.3rem 0.8rem;
  border-radius: 0.4rem;
  margin-left: 0.2rem;
  gap: 0.4rem;
}

/* //testtimonials */

/* //footer */
.footer {
  background-color: var(--color-black-grey);
  color: var(--color-white);
  padding: 3rem 0 3rem;
}

.footer_container {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}
.sup_input {
  display: flex;
}
.sup_input input {
  padding: 1.3rem 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.671);
  outline: none;
  border-radius: 0.7rem;
}
.sup_input button {
  background-color: rgba(255, 0, 0, 0.747);
  margin-left: -8.4rem;
  padding: 1.3rem;
  border: none;
  outline: none;
  color: #fff;
  transition: all 0.3s ease;

  border-radius: 0.7rem;
}
.sup_input button:hover {
  background-color: rgba(255, 0, 0, 0.547);
}
.sup_icons {
  display: flex;
  font-size: 2.7rem;
  margin-top: 0.6rem;
  gap: 1.2rem;
}
.sup_icons .icons {
  transition: all 0.3s ease;
  cursor: pointer;
}
.sup_icons .icons:hover {
  background-color: rgba(255, 0, 0, 0.547);
  border-radius: 50%;
  padding: 0.4rem;
  transform: scale(1.1);
}
.footer_title {
  font-size: 2.1rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  text-align: start;
}
.links ul li a {
  list-style: none;
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.links ul {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  font-size: 1.8rem;
  list-style: none;
}

.date {
  text-align: center;
  font-size: 1.95rem;
  margin-top: 2.5rem;
}
